body{
    background: url(fond.jpg);
    background-size: 100vm 100vh;

}
.capa{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    top: 0;left: 0;
}

.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;left: 0;
    background: url(fa.jpg);
    border-bottom: 12px double #ffffff;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu, .logo{
    float: left;
    line-height:100px;
}
.container .btn-menu label{
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.logo h1{
    color: green;
    font-weight: 400;
    font-size: 22px;
    margin-left: 20px;
}
.container .menu{
    float: right;
    line-height: 100px;
}
.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}

#btn-menu{
    display: none;
}
.container-menu{
    position: relative;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 13vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: url(fu.jpg);
    height: 100vh;
    position: fixed;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: rgb(250, 174, 250);
    border-left: 5px solid transparent;
    transition: all 400ms ease;
    font-family: cursive;
}
.cont-menu nav a:hover{
    border-left: 5px solid rgb(77, 0, 77);
    background: #3d3d3d;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: green;
    cursor: pointer;
    font-size: 18px;
}
